---
---
{% include header.html %}
	<header id="intro">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">James C Kimble</h1>
                <h4>Website Developer specializing in Security and Automation</h4>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Who I Am</h2>
                    <br>
                    <p class="text-faded">
					I'm a website developer with 8+ years experience.<br />
					My primary focus is in security and automation. Why? Because even the best
					written and looking sites are worthless if they are easily hacked. Also
					the human element is always the weakest point as long as security is up
					to current standards. So I do my best to automate everything possible to prevent human
					err and to make your job as streamlined as possible.<br />
					I also have other skills as in server administration and custom software development.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
				{% for link in site.data.portfolio.items %}
                <div class="col-lg-4 col-sm-6">
					<a href="{{ link.url }}" class="gallery-box">
						<img src="{{ link.image }}" class="img-responsive" alt="{{ link.desc }}">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
									{{ link.desc }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				{% endfor %}
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Get in Touch</h2>
                    <hr class="primary">
                    <p>Feel free to contact me, Please leave a voice message, send me an email or sms and I will get back to you.</p>
                </div>
				<div class="row text-center">
					<div class="col-md-6 col-sm-6">
						<i style="font-size:46px" class="ion-ios-telephone"></i>
						<p>{{ site.author.phone }}</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<i style="font-size:46px" class="ion-email"></i>
						<p><a class="nocolor" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
					</div>
				</div>
            </div>
        </div>
    </section>
{% include footer.html %}
