extends _layout.pug

block title
  title James C Kimble :: 404 Not Found

block content
  .lines
    .line
    .line
    .line
  aside.profile-card.error
    header
      i(class='fas fa-exclamation-triangle')
      h1 404
      h2 Not Found
