html
	head
		block title
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="HandheldFriendly", content="true")
		script(type="application/ld+json")
			| {
			|	"@context": "https://schema.org",
			|	"@type": "Organization",
			|	"url": "https://jckimble.com",
			|	"name": "James C Kimble",
			|	"logo": "https://0.gravatar.com/avatar/43799da335050c4cebcc859ef15dd939?s=150",
			|	"contactPoint": [
			|	{
			|		"@type": "ContactPoint",
			|		"email": "me@jckimble.com"
			|	}
			|	],
			|	"description":"James is a passionate software engineer &amp; pool player that dedicates most of his time between automating everything he can and playing pool.",
			|	"sameAs": [
			|	"https://github.com/jckimble",
			|	"https://codepen.io/jckimble/",
			|	"https://www.linkedin.com/in/james-kimble-865092212/",
			|	"https://twitter.com/jckimble601"
			|	]
			|}
	body
		block content
