extends _layout.pug

block title
  title James C Kimble :: Software Consultant

block content
  .lines
    .line
    .line
    .line
  aside.profile-card
    header
      a(href='')
        img(src='https://0.gravatar.com/avatar/43799da335050c4cebcc859ef15dd939?s=150')
      h1 James C Kimble
      h2 Software Consultant
      p
        | James is a passionate software engineer &amp; pool player that dedicates most of his time between automating everything he can and playing pool.
      p
        | His primary focus is in security and automation. Even the best written and looking sites are worthless if they are easily hacked. The human element is always the weakest attack point.
    ul.profile-social-links
      li
        a(href='https://twitter.com/jckimble601')
          i.fab.fa-twitter
      li
        a(href='https://www.linkedin.com/in/james-kimble-865092212/')
          i.fab.fa-linkedin-in
      li
        a(href='https://codepen.io/jckimble/')
          i.fab.fa-codepen
      li
        a(href='https://github.com/jckimble')
          i.fab.fa-github
      li
        a(href='mailto:me@jckimble.com')
          i.fas.fa-envelope
      li
        a(href='tel:6017484093')
          i.fas.fa-phone
